.cards {
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.card {
    width: 220px;
    height: 450px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right bottom, rgb(194, 222, 255), rgb(255, 255, 255));
    box-shadow: 0 0 10px 1px rgb(105, 105, 105);
    user-select: none;
}

.card:hover {
    scale: 1.01;
}

img {
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    border-radius: 50%;
}

.card_item {
    border-radius: 15px;
    box-shadow:
        /* inset 0 0 15px .5px rgb(175, 212, 255), */
        0 0 5px .5px rgb(77, 77, 77);
    background-color: aliceblue;
}

.card_item_desc {
    font-weight: 600;
    color: rgb(0, 119, 255);
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 79, 168);
}