html {
  background-image: linear-gradient(to right bottom, rgba(0, 119, 255, 0.5), rgba(255, 255, 0, 0.5));

}

.background {
  width: 1200px;
  margin: 50px auto;
  background-image: linear-gradient(to right bottom, rgba(0, 119, 255, 0.5), rgba(255, 255, 0, 0.5));
  border-radius: 50px;
  box-shadow: 0 0 20px 1px rgb(109, 109, 109);
}